In [29]:
#Load packages
import requests
from bs4 import BeautifulSoup
import os
import json
import pandas as pd
import inspect
import collections

In [18]:
#Try the Steam Review Scraper
from steam_review_scraper import search_game_id, get_game_ids, get_review_count, get_game_review

In [19]:
search_game_id("Hitman 3")

       game       id
0  HITMAN 3  1659040

In [28]:
get_game_ids(10) #only top sellers

                                game       id
0   Counter-Strike: Global Offensive      730
1                         Dead Space  1693980
2                          Destiny 2  1085660
3                      Apex Legends™  1172470
4                           Lost Ark  1599340
5  Call of Duty®: Modern Warfare® II  1938090
6                         Hi-Fi RUSH  1817230
7                               Rust   252490
8                         ELDEN RING  1245620
9                        War Thunder   236390

In [23]:
get_review_count(730) #with the "Your Language" filter applied - English

1920657

In [24]:
#get_game_review(id, language='default')
get_game_review(990080)

Empty DataFrame
Columns: [user, playtime, user_url, post_date, helpfulness, review, recommend, early_access_review]
Index: []

In [33]:
get_game_review(1172470, language='english')

ValueError: could not convert string to float: '1,061.9'